<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
<!-- this is our Beans of pojo class udsing p shedma-->
 
 <bean class="com.springcore.Student" name="student1" p:studentId="salman khan" p:studentId="32542"  p:studentAddress="London"/>
 
 
 <!-- student 2 -->
 
 <bean class="com.springcore.Student" name="student2">
    <property name="studentId" value="241223"/>
    
    <property name="studentName" value="Govinda"/>
     
    <property name="studentAddress">
         <value>Gujarat</value>
    </property>
 </bean>
 </beans>